*.py[co]

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
setup.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Mac stuff and sqlite files
.DS\_Store
*.sqlite
*.db

# virtualenv & docs
env
/.env
docs/_build
