language: python

python:
  - "3.5"

install:
  - pip install coverage coveralls tox

script:
  - tox

after_success:
  - coveralls
  - codecov

env:
  - TOXENV=py27-django1.6
  - TOXENV=py27-django1.7
  - TOXENV=py27-django1.8
  - TOXENV=py27-django1.9

  - TOXENV=py34-django1.6
  - TOXENV=py34-django1.7
  - TOXENV=py34-django1.8
  - TOXENV=py34-django1.9

  - TOXENV=py35-django1.6
  - TOXENV=py35-django1.7
  - TOXENV=py35-django1.8
  - TOXENV=py35-django1.9
